{% extends "base/main/layout/layout.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block site_title %}
{% trans "Books List" %}
{% endblock %}
{% block content %}
{% include 'main/extra/breadcrumb.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="site-btn order-complete-btn">Submit</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
</div>


{% endblock %}