{% extends "base/main/layout/layout.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% include 'main/extra/breadcrumb.html' %}
<section class="categories">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'warning' %}danger{% else %}{{message.tags}}{% endif %}"
            role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% if categories_list %}
<!-- Categories Section Begin -->.
<section class="categories">
    <div class="container">
        <div class="checkout__form">
            <h4>categories</h4>
        </div>
        <div class="row">
            {% if categories %}
            {% for category in categories %}
            <div class="col-lg-2 col-sm-6">
                {% if user.is_staff %}
                <div class="superuser-edit">
                    <a href="{% url 'admin_view:update_category' category.slug %}">Edit</a>
                    <a class="delete-link" href="{% url 'admin_view:delete_category' category.slug %}"
                        onclick="return confirm('Delete!\n{{ category.name }}\nAre you Sure?')">delete</a>
                </div>
                {% endif %}
                <div class="categories__item__type set-bg" data-setbg="/media/{{ category.image }}"
                    style="background-size: contain;">
                    <ul class="categories__item__pic__hover__type">
                        <li>
                            <a href="{% url 'main:category_books_list' category.slug %}">{{ category.name }}</a>
                        </li>
                    </ul>

                </div>

            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<!-- Categories Section End -->

{% elif languages_list %}
<!-- languages Section Begin -->
<section class="categories">
    <div class="container">
        <div class="checkout__form">
            <h4>languages</h4>
        </div>
        <div class="row">
            {% if languages %}
            {% for language in languages %}
            <div class="col-lg-2 col-sm-6">
                {% if user.is_staff %}
                <div class="superuser-edit">
                    <a href="{% url 'admin_view:update_language' language.slug %}">Edit</a>
                    <a class="delete-link" href="{% url 'admin_view:delete_language' language.slug %}"
                        onclick="return confirm('Delete!\n{{ language.name }}\nAre you Sure?')">delete</a>
                </div>
                {% endif %}
                <div class="categories__item__type set-bg" data-setbg="/media/{{ language.image }}"
                    style="background-size: contain;">
                    <ul class="languages__item__pic__hover__type">
                        <li><a href="{% url 'main:language_books_list' language.slug %}">{{ language.name }}</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<!-- languages Section End -->

{% elif years_list %}
<!-- years Section Begin -->
<section class="categories">
    <div class="container">
        <div class="checkout__form">
            <h4>years</h4>
        </div>
        <div class="row">
            {% if years %}
            {% for year in years %}
            <div class="col-lg-1 col-sm-6">
                {% if user.is_staff %}
                <div class="superuser-edit">
                    <a href="{% url 'admin_view:update_year' year.slug %}">Edit</a>
                    <a class="delete-link" href="{% url 'admin_view:delete_year' year.slug %}"
                        onclick="return confirm('Delete!\n{{ year.name }}\nAre you Sure?')">delete</a>
                </div>
                {% endif %}
                <div class="years_list_style">
                    <ul>
                        <li> <a href="{% url 'main:year_books_list' year.slug %}">{{ year.name }}</a> </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<!-- years Section End -->

{% elif authors_list %}
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            {% if authors %}
            {% for author in authors %}
            <div class="col-lg-3 col-sm-6">
                {% if user.is_staff %}
                <div class="superuser-edit">
                    <a href="{% url 'admin_view:update_author' author.slug %}">Edit</a>
                    <a class="delete-link" href="{% url 'admin_view:delete_author' author.slug %}"
                        onclick="return confirm('Delete!\n{{ author.name }}\nAre you Sure?')">delete</a>
                </div>
                {% endif %}
                <div class="categories__item__type set-bg" data-setbg="/media/{{ author.image }}">
                    <ul class="languages__item__pic__hover__type">
                        <li><a href="#">{{ author.name }}</a></li>
                    </ul>

                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<!-- Categories Section End -->

{% endif %}

{% endblock %}