{% load i18n %}
{% load static %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/book_background.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <!-- <h2>Books Shop</h2> -->
                    <div class="breadcrumb__option">
                        <a href="{% url 'main:index' %}">Home</a>
                        {% if category %}
                        <a href="{% url 'main:categories_list' %}">Categories</a>
                        <span>{{ category }}</span>
                        {% elif language %}
                        <a href="{% url 'main:languages_list' %}">Languages</a>
                        <span>{{ language }}</span>
                        {% elif year %}
                        <a href="{% url 'main:years_list' %}">Years</a>
                        <span>{{ year }}</span>
                        {% elif author %}
                        <a href="#">Authors</a>
                        <span>{{ author }}</span>
                        {% elif book_details %}
                        <a href="{% url 'main:featured_books_list' %}">Books</a>
                        <span>{{ book_details.name }}</span>

                        {% elif featured_books %}
                        <span>Featured Books</span>
                        {% elif sales_off_books %}
                        <span>Sales Off Books</span>
                        {% elif A_Z_books %}
                        <span>Books(A to Z Sort)</span>
                        {% elif Z_A_books %}
                        <span>Books(Z to A Sort)</span>
                        {% elif text %}
                        <span>Search "{{ text }}"</span>
                        
                        {% elif shopcart_page %}
                        <span>Shoping Cart</span>
                        {% elif favourites %}
                        <span>Favourite Books</span>
                        {% elif checkout_page %}
                        <span>Checkout</span>
                        {% elif checkout_complete_page %}
                        <span>Checkout Completed</span>
                        {% elif orders %}
                        <span>Lastest Order</span>
                        {% elif comments %}
                        <span>Comments</span>
                        {% elif user_form %}
                        <span>Update Profile</span>

                        {% elif add_book %}
                        <span>Add Book to the Database</span>
                        {% elif add_category %}
                        <span>Add Category to the Database</span>
                        {% elif add_author %}
                        <span>Add Author to the Database</span>
                        {% elif add_language %}
                        <span>Add Language to the Database</span>
                        {% elif add_year %}
                        <span>Add Year to the Database</span>

                        {% elif  update_book %}
                        <span>Update ({{book_name}}) Book</span>
                        {% elif update_category %}
                        <span>Update ({{category_name}}) Category</span>
                        {% elif update_author %}
                        <span>Update ({{author_name}})  Author</span>
                        {% elif update_language %}
                        <span>Update ({{language_name}}) Language</span>
                        {% elif update_year %}
                        <span>Update ({{year_name}}) Year</span>
                        {% else %}
                        <span>
                            {{categories_list}}{{languages_list}}{{authors_list}}{{years_list}}
                        </span>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->